<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Ciao {{name}},</p>
        <p>Hai richiesto di modificare la tua password.</p>
        <p> Clicca sul link sottostante per resettare la password</p>
        <a href="https://{{link}}">Resetta Password</a>
    </body>
</html>